/*
img {
    display: block;
    margin: 0px auto;
}
 */

@font-face {
    font-family: kim;
    src: url("../font-awesome/fonts/kim.ttf");
}

.font_st
{
    font-family: "kim";
}

.logo
{
    text-align: center;
    background: #FFFFFF;
    height: 120px;
    padding-top: 15px;
}

.menubar{
    font-size:15px;
}

.menubar ul{
    background: #9d7566;
    height:50px;
    list-style:none;
    margin:0;
    padding:0;
    text-align: right; // 우측정렬
}

.menubar li{
    display:inline-block;  // 우측정렬
    padding:0px;
    width:130px
}

.menubar li a{
    background: #9d7566;
    color:#ffffff;
    display:block;
    font-weight:normal;
    line-height:50px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
    background: #9d7566;
    color:#FFFFFF;
    text-decoration:none;
}

.menubar li ul{
    display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
}

.menubar li:hover ul{
    display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
    background: #b48674;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200px;
}

.menubar li:hover li a{
    background:none;
}

.menubar li ul a {
    display:block;
    height:50px;
    font-size:12px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
    background: #9d7566;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}